.navbar-default{
    font-size: 16px;
    background-color: #2a8fcf;;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: larger;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-text{
    color: white;
}

